body {
  text-align: center;
  background-color: rgb(233, 215, 207);
  font-family: "Fira Sans", sans-serif;
}

h1 {
  font-family: "Oswald", sans-serif;
  color: rgb(83, 75, 75);
}

p {
  color: rgb(83, 75, 75);
}

a {
  font-family: "Fira Sans", sans-serif;
  color: rgb(167, 1, 78);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
