body {
    font-family: sans-serif;
    background-color: rgb(36, 35, 30);
}

form {
    margin: 3rem auto;
    width: 90%;
    max-width: 50rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 1rem;
    background-color: rgb(246, 245, 201);
}

.control {
    margin-bottom: 1rem;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input.warning{
    background-color: #e47c5f;
}

span.warning {
    color: #f17453;
}